{% extends 'app/base.html' %}
<title>UrlShortener | {% block title %}Home{% endblock %}</title>
{% block content %}
{% endblock %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
     crossorigin="anonymous"
>

<div class="container">
    <h1>Password reset complete</h1>
    <p>
        Your password has been set. You may go ahead and log in now.
    </p>
    <br><br>
    <button class="btn btn-outline-success"><a href="{% url 'login' %}">Log In</a></button>
  
</div>