{% load widget_tweaks %}

{% extends 'app/base.html' %}
<title>UrlShortener | {% block title %}Home{% endblock %}</title>
{% block content %}
{% endblock %}

<div class="container">
    <h1>Password Reset</h1>
    <p>Forgotten your password? Enter your email address below, and 
        we’ll email instructions for setting a new one.
    </p>
    
    <form action="" method="post">
      {% csrf_token %}
      {% render_field form.email class="form-control" placeholder="Email"  %}
      
      <button type="submit" class="btn btn-outline-light mt-2" id="submit">Login</button>
    </form>
  </div>

