{% extends 'app/base.html' %}
<title>UrlShortener | {% block title %}Register{% endblock %}</title>
{% block content %}
<div class="container text-center"><br><br>
  <h1 class="navbar-brand text-lead text-capitalize" href="#"style="font-family: cursive;">Join Bop.ly</i></a></h1>


    <br>

  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-light" id="submit">Register</button>
  </form>
</div>
<footer class="text-center  text-light " style="height: 60px; margin-top: 50px; background-color: black;">
  <p  class="pt-4 ">BopGeek  &copy; 2021 </p>
</footer>
{% endblock %}
  
