<footer class="text-center text-dark " style="height: 72px; margin-top: 350px; background-color: white;">
    <p  class="pt-4 ">BopGeek  &copy; 2021 </p>
</footer>


 <!-- <div class="quantity">
                <img class="chg-quantity update-cart " data-product={{item.product.id}} data-action='add' src="{% static 'images/arrow-up.png' %}">
                <img class="chg-quantity update-cart" data-product={{item.product.id}}  data-action="remove" src="{% static 'images/arrow-down.png' %}">
            </div> -->