{% extends 'app/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrlShortener | {% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        
                        {% if new_url %}
                        <h5 class="card-title text-center"><b>Sign In</b></h5>
                        <form action="" class="form-signing" method="POST">
                            {% csrf_token %}
                            <input class="form-control me-2 text-center" type="text" value="{{new_url}}" id="myInput">
                            <button type="button" onclick="myFunction()" class="btn btn-outline-primary mr-3" data-bs-toggle="popover" 
                                data-bs-content="Text Copied"
                            >
                                Copy
                            </button>
                        </form>
                        {% else %}
                        <form method="POST" action="" class="d-flex text-center mr-4" >
                            {% csrf_token %}
                            <div class="form-group text-primary">
                                {{form.url}}
                            </div>
                            
                            <button class="btn btn-outline-primary mr-3" type="submit">Submit</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container mt-3 text-center">
            
        <br><br>
        <h2 class="text-center ">Shorten Your Url</h2>
        <form class="d-flex text-center mt-4" >
           
        </form>

            
        <br><br>
        <h2 class="text-center ">Shorten Your Url</h2> 
        <p></p>
        
           
        
        
      
        
        
        
    </div> -->
    <footer class="text-center text-muted  " style="height: 60px; margin-top: 300px; background-color: white;">
        <p  class="pt-4 ">BopGeek  &copy; 2021 </p>
    </footer>
    
     <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");

            // /* Alert the copied text */
            // alert("Copied the text: " + copyText.value);
        }
    </script>
    {% endblock %}

    
    
</body>
</html>