{% extends 'app/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><title>UrlShortener | {% block title %}List{% endblock %}</title></title>
</head>
<body>
    {% block content %}
    <div class="container mt-3">
        {% if data %}
        <h2>Url links</h2>
        {% for info in data %}

        <ul class="list-group">
            <li class="list-group-item mt-1 ">
                <a href="{% url 'redirect' info.slug %}" target="_blank" class="update" data-info={{info.id}} data-action='add'>{{info.slug}}</a> <p> times clicked {{info.clicked}}</p>
            </li>
            
        </ul>
        {% endfor %}
        {% else %}
        <h1 class="text-center mt-5 text-light"> no url to display</h1>
        {% endif %}
    </div>
    <footer class="text-center text-muted " style="height: 72px; margin-top: 400px; background-color: white;">
        <p  class="pt-4 ">BopGeek  &copy; 2021 </p>
    </footer>

    
    {% endblock %}
    
</body style="margin-top:200px">
</html>